body {
    background-color: #DCDCDC;
    color: black;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

* {
    box-sizing: border-box;
}

html,
body,
div,
img {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

body {
    line-height: 1;
}

.full-game-area {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;

}

img {
    margin-top:40px;
    display: flex;
    object-fit: contain;
    margin-left: auto;
    margin-right: auto;
    width: 560px;
    height: 380px;
}

.img-area {
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    width: 560px;
    height: 380px;
    background-color: #020101;
    border: 1px solid black;
    border-radius: 10px;
}

.game-question {

    margin-top: 40px;
    text-align:center;
    width: 500px;
    word-wrap: break-word;
    font-size: 20px;
    font-weight: bold;
    color: black;
    background-color: #DCDCDC;
    border: 1px solid black;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    width: 100%;
    text-align: center;
    font-size: large;
}

.game-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
    padding-right: 50px;
    padding-left: 50px;
    margin-bottom: 20px;
}

.btn {
    height: 65px;
    width: 140px;
    box-shadow: 0 0 0 2px #DCDCDC;
    border-radius: 10px;
    background-color: #DCDCDC;
}

.dynamic-tracking-objects {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
    padding-left: 50px;
    padding-right: 50px;
}
.static-tracking-objects {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
    padding-left: 50px;
    padding-right: 50px;
}

footer {
    margin-top: auto;
    text-align: center;
    background-color: black;
    color: white;
    height: 30px;
}

#game-timer {
    color: black;
    font-size: 20px;
    font-weight: bold;
    background-color: #DCDCDC;
    border: 1px solid black;
    border-radius: 10px;
    padding: 5px;
}

#game-score {
    color: black;
    font-size: 20px;
    font-weight: bold;
    background-color: #DCDCDC;
    border: 1px solid black;
    border-radius: 10px;
    padding: 5px;
}

#timer-text {
    color: black;
    font-size: 20px;
    font-weight: bold;
    background-color: #DCDCDC;
    border: 1px solid black;
    border-radius: 10px;
    padding: 5px;
}

#score-text {
    color: black;
    font-size: 20px;
    font-weight: bold;
    background-color: #DCDCDC;
    border: 1px solid black;
    border-radius: 10px;
    padding: 5px;
}


@media only screen and (min-width: 320px) and (max-width: 520px) {
    .full-game-area {
        width: 87.5%;
    }

    .btn {
        height: 30px;
        width: 110px;
        font-size: 9px;
    }

    .buttonstyling-2 {
        margin-left: 6px;
        margin-right: 6px;

    }
}


@media only screen and (min-width: 520px) and (max-width: 780px) {

    .full-game-area {
        width: 90%;
    }

    .buttonstyling-2 {
        height: 45px;
        width: 120px;
        font-size: 11px;
    }
}

